body {
	padding: 0px;
	margin: 10px;
	color: #030303;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	background-color: #ffffff;
	overflow-y: scroll;
    letter-spacing: 0.2px;	
    font-size: 0px;
    line-height: 0px;
}

.double-range
{
	width: 600px;
}

h1
{
	font-size: 17px;
	line-height: 21px;
}

h2 
{
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}

h3 {
    font-size: 15px;
    line-height: 19px;
    margin: 20px 0px 0px;
    padding: 0px 0px 0px 5px;
    line-height: 30px;
    border-bottom: 1px solid;
    color: #002255;
}

body>div
{
	white-space: nowrap;
}

pre
{
	margin: 0px;
	padding: 5px 0px 0px 0px;
	display: block;
	font-size: 13px;
	line-height: 15px;
	tab-size: 2;
	position: relative;
	white-space: pre-wrap;
}

pre::before {
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 7px;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
}

pre.html
{
	color: #002200;	
}

pre.html::before
{
	content:"HTML:";
	color:#55aa55;
}


@media screen and (min-width: 1000px) {
	pre.js,pre.css
	{
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
}


pre.js
{
	color: #000033;
}

pre.js::before
{
	content:"JS:";
	color:#5555aa;	
}

pre.css
{
	color: #330000;
}

pre.css::before
{
	content:"CSS:";
	color:#aa5555;	
}


#slider-2 .double-range { 
	--thumb-from-bg: #145056; 
	--thumb-to-bg: #95be08; 
	--range-bar-bg: linear-gradient(to right, #0c2e32, #145056);
	--thumb-size: 20px;
	/* custom padding , calc(var(--thumb-size) / 2) is the max for 100% width*/
    padding: 30px calc(var(--thumb-size) / 2);
    overflow: visible;
}

#slider-2 .double-range label
{
	font-size: 13px;
	color:#222222;
	padding: 0px;
}

#slider-3 .double-range { 
	--thumb-from-bg: #003377; 
	--thumb-to-bg: #005599; 
	--range-bar-bg: linear-gradient(to right, #003377, #005599);
	padding: 40px calc(var(--thumb-size) / 2);
	--thumb-size: 30px;
	overflow: visible;
}

#slider-3 .double-range label
{
	font-size: 13px;
	color:#222222;
	padding: 0px;
}	

#slider-3 .double-range .point {
    display: none;
}

#slider-3 .double-range .track
{
	background: none;
	box-shadow: inherit;
}

/* instead of the track line */
#slider-3 .double-range::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: 0px;
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #e1e3e7, #f1f3f7);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(100, 100, 100, 0.2);
}

#slider-4 .double-range {
    --thumb-from-bg: #005599;
    --thumb-to-bg: #990055;
    --range-bar-bg: linear-gradient(to right, #cee1f8, #f8cec1);
}

#slider-4 .double-range label
{
	font-size: 13px;
	text-shadow:0px 0px 1px;
	letter-spacing:1px;
	padding: 0px;
}

#slider-4 .double-range label.from
{
	color:#005599;
}

#slider-4 .double-range label.from::after
{
	color:#000000;
}

#slider-4 .double-range label.to
{
	color:#990022;
}


#slider-5 .double-range { 
	--thumb-from-bg: #06203b; 
	--thumb-to-bg: #194a7e; 
	--range-bar-bg: linear-gradient(to right, #06203b, #194a7e);
	width: 100%;
}

#slider-5 .double-range label
{
	font-size: 13px;
	padding: 0px;
	text-shadow:0px 0px 1px;
	letter-spacing: 1px;
}

#slider-5 .double-range label.from>span
{
	color:#06203b;
}

#slider-5 .double-range label.to>span
{
	color:#194a7e;
}
.fields
{
	text-align: center;
	margin: 5px 0px;
}

.fields>div
{
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px;
	line-height: 30px;
}

.fields>div>*
{
    display: inline-block;
    vertical-align: top;	
}

.fields>div>label
{
	font-size: 16px;
}

.fields>div>input {
    height: 30px;
    line-height: 20px;
    margin: 0px 3px 0px 0px;
    padding: 6px 3px 2px 5px;
    border: 1px solid #555555;
    outline: none;
    text-align: right;
    font-size: 16px;
    width: 80px;
    letter-spacing: 1px;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    box-sizing: border-box;
}

.fields>div>input#result-5
{
	width: 200px;
}

.fields>div>input.error
{
	box-shadow:0px 0px 2px 1px #770000; 
	border: 1px solid #770000;
}

.fields>div>button {
    font-size: 15px;
    font-family: monospace;
    height: 30px;
    line-height: 28px;
    cursor: pointer;
}

